asgiref==3.2.7
certifi==2020.4.5.1
cffi==1.14.0
cryptography==2.9.2
Django==3.0.3
django-seed==0.2.2
djangorestframework==3.11.0
Faker==4.1.0
idna==2.9
olefile==0.46
Pillow==7.1.2
pycparser==2.20
PyJWT==2.4.0
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
text-unidecode==1.3
